*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  margin: 0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e75ff;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}
.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  margin-bottom: 16px;
  width: 360px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #b0b0c3;
  border-radius: 4px;
  outline: none;
}

.input:hover {
  border-color: #2e2f42;
}

.input:focus {
  border-color: #b0b0c3;
  outline: none;
}

.btn-sbmt {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  outline: none;
  border-color: transparent;
}
.btn-sbmt:hover,
.btn-sbmt:focus {
  background-color: #6c8cff;
}
